body {
	margin: 10px;
	display: block;
	background-color: #f7eacd;
}


.navbar {
	overflow: hidden;
	background-color: rgb(0, 57, 118);
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 20px;
	border-radius: 25px;
}


.navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}


.dropdown {
	float: right;
	overflow: hidden;
}


.dropdown .dropdown-button {
	cursor: pointer;
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}


.navbar  a:hover, .dropdown:hover .dropdown-button, .dropdown-button:focus {
	background-color: rgb(239, 171, 0);
}


.course-list {
	float: left;
	right: 0;
	display: none;
	position: absolute;
	font-family: serif;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}


.course-list a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}


.course-list a:hover {
	background-color: #ddd;
}


.show {
	display: block;
}


.main-div {
	position: absolute;
	height: 90%;
	width: 95%;
}

.checklist {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 10;
	background-color: white;
	border-radius: 4px;
	height: 95%;
	width: 25%;
	overflow-y: auto;
	overflow-x: auto;
	border: 2px solid saddlebrown;
	padding: 10px;
}

.sFields {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 10;
	right: 0;
	background-color: white;
	border-radius: 4px;
	padding: 10px;
	width: 65%;
	height: 95%;
	overflow-y: scroll;
	border: 2px solid saddlebrown;
}

.section-title {
	padding-bottom: 10px;
	border-bottom: 2px solid saddlebrown;
	margin-bottom: 10px;
}

.checklist-element {
	margin-top: 10px;
}

.fieldInfo {
	margin-bottom: 20px;
}

.counter {
	font-size: small;
	margin-top: 8px;
}

.hide {
	display: none;
}

.description {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	resize: vertical;
	font-family: serif;
}

.contact-info {
	margin: 5px;
	width: 95%;
}