body {
	margin: 10px;
	background-color: #f7eacd;
}

.link {
	background: none;
	border: none;
	text-decoration: none;
	color: #424242;
	font-family: serif;
	font-size: inherit;
	cursor: pointer;
	padding: 0;
}

.dropdown.active > .link,
.link:hover {
	color: black;
}

.dropdown {
	position: relative;
	left: 87%;
	top: -45px;
}

.dropdown-contents {
	position: absolute;
	top: calc(100% + .25rem);
	background-color: white;
	padding: .75rem;
	border-radius: .25rem;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
	opacity: 0;
	pointer-events: none;
	transform: translateY(-10px);
	transition: opacity 125ms ease-in-out, transform 125ms ease-in-out;
}


.dropdown.active > .link + .dropdown-contents {
	opacity: 1;
	transform: translateY(0px);
	pointer-events: auto;
}

.courses a {
	display: inline-block;
	text-decoration: none;
	right: 0;
}

.checklist {
	background-color: white;
	border-radius: 4px;
	float: left;
	height: 85vh;
	width: 25vw;
	overflow-y: auto;
	border: 2px solid saddlebrown;
	padding: 10px;
	margin-right: 0px;
}

.sFields {
	background-color: white;
	border-radius: 4px;
	float: right;
	height: 85vh;
	width: 65vw;
	overflow-y: auto;
	border: 2px solid saddlebrown;
	padding: 10px;
}

.checklist-title {
	padding-bottom: 10px;
	border-bottom: 2px solid saddlebrown;
}

.checklist-element {
	margin-top: 10px;
}

.fieldInfo {
	margin-bottom: 20px;
}

.counter {
	font-size: small;
	margin-top: 8px;
}

.hide {
	display: none;
}

.course-description {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	resize: vertical;
	font-family: serif;
}