<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
  <title>Waffle Iron</title>
</head>

<body onload="initialCheck()">
<div class="navbar">
    <div class="dropdown">
      <button class="dropdown-button" onclick="dropdown()">
        My Courses
      </button>
      <div class="course-list" id="course-list">
        
      {% for crn, name in otherCourses.items() %}
      <a href={{ url_for('front.instructor', CRN=crn) }}>{{ name }}</a>
      {% endfor %}

      </div>
    </div>

    <a href="https://www.acm.org/binaries/content/assets/education/curricula-recommendations/cc2020.pdf" target="_blank">ACM Requirements</a>
    <a href="#">Copy to another CRN</a>
    <input type="submit" form="syllabus-fields-text" value="Save">
    <a href={{ url_for('front.document', CRN=CRN) }}>Export</a>
    <a href="/logout">Logout</a>
  </div>

  <div class="main-div">
    <div class="checklist">
      <div class="section-title">
          {{ CRN + ': ' + otherCourses[CRN] }}
      </div>

      {% for key, val in fields.items() %}
      <label for="{{ key }}">
        <div class="checklist-element" id="{{ key }}-checklist" value="yes">
            <input class="syllabus-fields" 
                   type="checkbox" 
                   name="{{ key }}" 
                   id="{{ key }}" 
                   value="yes" 
                   onchange="displayField(this, '{{ key }}')">{{ key }}
        </div>
      </label>
      {% endfor %}

    </div>

    <div class="sFields">
      <div class="section-title">
         Syllabus Fields
      </div>

      <form action={{ url_for('front.sendInfo', CRN=CRN) }} id="syllabus-fields-text" method="POST">

      {% for key, val in fields.items() %}
        <fieldset disabled class="fieldInfo hide" id="{{ key }}-info">
          <legend>{{ key }}</legend>

            {% if key == "Contact Information" %}
              <input type="text" 
                     class="contact-info" 
                     name="instructor-name" 
                     id="name" 
                     placeholder="Name"
                     value={{ val["name"] }}>
                     <br>
              <input type="text" 
                     class="contact-info" 
                     name="instructor-email" 
                     id="email" 
                     placeholder="Email"
                     value={{ val["email"] }}>
                     <br>
              <input type="text" 
                     class="contact-info" 
                     name="instructor-phone" 
                     id="phone" 
                     placeholder="Phone Number [ex: (330) 123-4567]"
                     value= {{ val["phone"] }}>
              <input type="text" 
                     class="contact-info" 
                     name="instructor-office-hours" 
                     id="office-hours" 
                     placeholder="Office Hours"
                     value= {{ val["office-hours"] }}>

            {% elif key == "Assistant Information" %}
              <input type="text" 
                     class="contact-info" 
                     name="assistant-name" 
                     id="name" 
                     placeholder="Name"
                     value={{ val["name"] }}>
                     <br>
              <input type="text" 
                     class="contact-info" 
                     name="assistant-email" 
                     id="email" 
                     placeholder="Email"
                     value={{ val["email"] }}>
                     <br>
              <input type="text" 
                     class="contact-info" 
                     name="assistant-phone" 
                     id="phone" 
                     placeholder="Phone Number [ex: (330) 123-4567]"
                     value={{ val["phone"] }}>
              <input type="text" 
                     class="contact-info" 
                     name="assistant-office-hours" 
                     id="office-hours" 
                     placeholder="Office Hours"
                     value={{ val["office-hours"] }}>

            {% else %}
              <textarea maxlength="1000" 
                     onkeyup="wordCounter(this)" 
                     class="description" 
                     name="{{ key }}">{{ val }}</textarea>
              <span class="counter">Words: </span>
            {% endif %}

        </fieldset>
      {% endfor %}
    </form>
    </div>
  </div>
</body>
</html>
