<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
        <title>Waffle Iron</title>
    </head>
    <body>
      <div class="navbar">
        <a href="/administrator/">Go Back</a>
        <a href="/logout/">Logout</a>
      </div>

        <div class="signinform">
          <form action="/remove/" method="POST">
            <div class="section-title">Remove User</div>

            <label for="email">Email to Remove</label>
              <input type="email" placeholder="Enter email to remove" name="email" required>

            <label for="password">Password</label>
              <input type="password" placeholder="Enter your password" name="password" required>

              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for msg in messages %}
                    <p class="error-msg">{{ msg }}</p>
                  {% endfor %}
                {% endif %}
              {% endwith %}

            <button class="sign-in" type="submit">Remove</button>
          </form>
        </div>
    </body>
</html>